.App {
  text-align: center;
}

@font-face {
  font-family: 'BMEULJIRO';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'BMEULJIRO';
}

.black-nav {
  background: black;
  width: 100%;
  color: aquamarine;
  display: flex;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

.list{
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal{
  padding: 20px;
  background: #eee;
  margin-top: 20px;
}
